body{
    background-image: url(./294493131_436178818405840_1055208722996084011_n.jpg);
    background-size: cover;
    background-position: center;
}
body h1{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 50px;
}

.container{
    width: 80%  ;
    display: flex;
    justify-content: space-between;

}
.container h2{
    padding-bottom: 20px;
}
.container .baitap{
    margin-right: 5px;
    border: 1px solid red;
    margin-right: 20px;
    padding: 10px;
    text-align: left;
    background: #fff;
    border-radius: 10px;
}

.container h2, .container h3{
font-size: 20px;
}
